@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@font-face {
    font-family: 'Idroid';
    src: url('/d010/fontes/idroid.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}
/*
#c5ebd6
#83e1ad
#3ddc84
#2fa866
#1a5c37
#063d1e

*/

:root {
    --cor0: #c5ebd6;
    --cor1: #83e1ad;
    --cor2: #3ddc84;
    --cor3: #2fa866;
    --cor4: #1a5c37;
    --cor5: #063d1e;

    --fonte-padrao: Arial, Verdana, Helvetica, sans-serif;
    --fonte-destaque: 'Bebas Neue', cursive;
    --fonte-idroid: 'Idroid', cursive;
}

* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: var(--cor0);
    font-family: var(--fonte-padrao);
    text-align: normal;
    margin: 0px;
}

a.externo::after {
    content: '\00A0\1F517';
}

header {
    /*background-image: linear-gradient(to bottom, rgb(2, 160, 2), rgb(1, 46, 1) );*/
    background-image: linear-gradient(to bottom, var(--cor0),var(--cor5));
    min-height: 150px;
    text-align: center;
    padding: 15px;
    margin: 0px 0px 0px 0px;
    
}

header > h1 {
    color: white;
    font-family: var(--fonte-destaque);
    font-size: 2.5em;
    font-weight: normal;
    margin-bottom: 15px;
    text-shadow: 2px 3px 0px rgba(0, 0, 0, 0.267);

}
header > p {
    font-family: var(--fonte-padrao);
    font-size: 1.2em;
    color: white;
    text-align: center;
    padding: 15px;
    max-width: 500px;
    margin: auto;
    padding-bottom: 20px;
    padding-right: 10px;
    padding-right: 10px;
    text-shadow: 2px 3px 0px rgba(0, 0, 0, 0.322);
}

nav {
    background-color: var(--cor5);
    text-align: left;
    padding: 5px;
    text-shadow: 0px 7px 7px rgba(0, 0, 0, 0.192);
    
}

nav > a {
    text-decoration: none;
    color: var(--cor1);
    font-weight: bold;
    margin-left: 15px;
}

nav > a:hover {
    /* color: rgb(1, 46, 1);
    background-color:#9AB8A7; */
    color: var(--cor5);
    background-color: var(--cor3);
    border-radius: 5px 5px 5px 5px;
    padding: 4px;
    transition-duration: 0.5s;
}
main {
    background-color: white;
    padding: 15px;
    margin: 0px 40px 0px 40px;
    min-width: 400px;
    max-width: 700px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.411);
    margin-left: auto;
    margin-right: auto;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

main strong {
    color: var(--cor4);
    font-weight: bold;
    
}

main a {
    text-decoration: none;
    font-weight: bold;
    color: var(--cor5);
    background-color: var(--cor1);
    padding: 2px 4px;
}

div.video {
    background-color: var(--cor5);
    margin: 0px -15px 30px -15px;
    padding: 20px;
    padding-bottom: 56%;
    position: relative;
}

div.video > iframe {
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;
}

article > h1 {
    font-family: var(--fonte-idroid);
    font-weight: normal;
    font-size: 22px;
    color: green;
}

article > h1, h2, p {
    padding: 10px;
}

aside {
    background-color: var(--cor0);
  /*  margin: 0px 25px 20px 25px;*/
    border-radius: 10px;
    padding: 10px; /*padding: 0px 0px 20px 0px;*/
    box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.288);
}

aside > h3 {
    background-color: var(--cor3);
    color: white;
    padding: 10px;
    margin: -10px -10px 0px -10px;
    border-radius: 10px 10px 0px 0px;
}

aside > ul {
    list-style-type: '\2714\00A0\00A0';
    columns: 2;
    list-style-position: inside;
}



footer {
    background-color: var(--cor5);
    color: white;
    text-align: center;
    font-size: 0.8em;
     
}

footer > p {
    text-align: center;
}
footer > p > a {
    color: white;
    font-weight: bolder;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
    color: var(--cor1);
}
h1 {
    font-family: var(--fonte-destaque);
    font-weight: normal;
    font-size: 35px;
    color: green;
    }
h2 {
    font-family: var(--fonte-idroid);
    font-weight: normal;
    font-size: 18px;
    background-image: linear-gradient(to right, var(--cor1),transparent);
    color:var(--cor4);
}


p {
    margin: 15px 0px;
    text-align: justify;
    text-indent: 30px;
    font-size: 1em;
    line-height: 1.4em;   
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}